# 백준_Bronze V

In [13]:
#* 1000_A+B
a,b = input().split()
a = int(a)
b = int(b)
print(a+b)

1 2
3

In [14]:
#* 1001_A-B
a,b = input().split()
a = int(a)
b = int(b)
print(a-b)

3 2
1

In [20]:
#* 1271_엄청난 부자2 
a,b = map(int, input().split())
print(a // b, a % b, sep = '\n')

1000 100
10
0

In [21]:
#* 1550_16진수
print(int(input(),16))

A
10

In [22]:
#* 2338_긴자리 계산
a,b=int(input()),int(input())
print(a+b,a-b,a*b,sep='\n')

1
-1
0
2
-1

In [23]:
#* 2475_검증수
#a,b,c,d,e = map(int, input().split())
#print((a**2+b**2+c**2+d**2+e**2) % 10)
res = 0
for i in list(map(int,input().split())):
    res += i ** 2
print(res % 10)

0 4 2 5 6
1

In [24]:
#* 2558_A+B - 2
a = int(input())
b = int(input())
print(a+b)

1
2
3

In [25]:
#* 2845_파티가 끝나고 난 뒤 
a,b = map(int, input().split())
data = list(map(int, input().split()))
for i in data:
    print(i - a * b, end = ' ')

5 20
99 101 1000 0 97
-1 1 900 -100 -3

In [33]:
#* 2914_저작권
a,b = map(int, input().split())
print(a * (b-1) + 1)

38 24
875

In [7]:
#* 3003_킹, 퀸, 룩, 비숍, 나이트, 폰
li = [1,1,2,2,2,8]

data = list(map(int, input().split()))
for i in range(len(li)):
    print(li[i] - data[i], end = ' ')

0 1 2 2 2 7
1 0 0 0 0 1

In [11]:
#* 3046_R2
a,b = map(int, input().split())
print((2*b) - a)

11 15
19

In [12]:
#* 5337_웰컴 
print(""".  .   .
|  | _ | _. _ ._ _  _
|/\|(/.|(_.(_)[ | )(/.""")

.  .   .
|  | _ | _. _ ._ _  _
|/\|(/.|(_.(_)[ | )(/.

In [13]:
#* 5338_마이크로소프트 로고
print("""       _.-;;-._
'-..-'|   ||   |
'-..-'|_.-;;-._|
'-..-'|   ||   |
'-..-'|_.-''-._|
""")

       _.-;;-._
'-..-'|   ||   |
'-..-'|_.-;;-._|
'-..-'|   ||   |
'-..-'|_.-''-._|

In [23]:
#* 5339_콜센터
print("""     /~\\
    ( oo|
    _\=/_
   /  _  \\
  //|/.\|\\\\
 ||  \ /  ||
============
|          |
|          |
|          |
    """)

     /~\
    ( oo|
    _\=/_
   /  _  \
  //|/.\|\\
 ||  \ /  ||
============
|          |
|          |
|          |

In [25]:
#* 5522_카드게임
print(sum([int(input()) for i in range(5)]))

1
2
3
4
5
15

In [6]:
#* 5554_심부름 가는 길
#total = 0
#for i in range(4):
#    total += int(input())
#print(total // 60)
#print(total % 60)

data = list(map(int, input().split()))
print(res // 60)
print(res % 60)

31 34 7 151
3
43

In [13]:
#* 6749_Next in line
a,b=int(input()),int(input())
print(2*b-a)

12 15
18

In [ ]:
#* 7287_등록
print("47\n")
print("munmun2004\n")

In [1]:
#* 8370_Plane
n1,k1,n2,k2 = map(int, input().split())
print(n1*k1 + n2*k2)

2 5 3 20
70

In [3]:
#* 8437_Julka
a,b = int(input()),int(input())
print((a+b) //2)
print((a-b) //2)

10
2
6
4

In [5]:
#* 9653_스타워즈 로고
print("""    8888888888  888    88888
   88     88   88 88   88  88
    8888  88  88   88  88888
       88 88 888888888 88   88
88888888  88 88     88 88    888888

88  88  88   888    88888    888888
88  88  88  88 88   88  88  88
88 8888 88 88   88  88888    8888
 888  888 888888888 88  88      88
  88  88  88     88 88   88888888
""")

    8888888888  888    88888
   88     88   88 88   88  88
    8888  88  88   88  88888
       88 88 888888888 88   88
88888888  88 88     88 88    888888

88  88  88   888    88888    888888
88  88  88  88 88   88  88  88
88 8888 88 88   88  88888    8888
 888  888 888888888 88  88      88
  88  88  88     88 88   88888888

In [6]:
#* 9654_나부 함대 데이터
print("""SHIP NAME      CLASS          DEPLOYMENT IN SERVICE
N2 Bomber      Heavy Fighter  Limited    21        
J-Type 327     Light Combat   Unlimited  1         
NX Cruiser     Medium Fighter Limited    18        
N1 Starfighter Medium Fighter Unlimited  25        
Royal Cruiser  Light Combat   Limited    4         
""")

SHIP NAME      CLASS          DEPLOYMENT IN SERVICE
N2 Bomber      Heavy Fighter  Limited    21
J-Type 327     Light Combat   Unlimited  1
NX Cruiser     Medium Fighter Limited    18
N1 Starfighter Medium Fighter Unlimited  25
Royal Cruiser  Light Combat   Limited    4

In [7]:
#* 10170_NFC West vs North
print("""NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1
""")

NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1

In [11]:
#* 10171_고양이
print("""\    /\\
 )  ( ')
(  /  )
 \(__)|
""")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [13]:
#* 10430_나머지 
A,B,C = map(int,input().split())

print((A+B)%C, ((A%C)+(B%C))%C, (A*B)%C, ((A%C)*(B%C))%C, sep='\n')

5 8 4
1
1
0
0

In [16]:
#* 10699_오늘 날짜
import datetime
print(str(datetime.datetime.now())[:10])

2021-02-06

In [21]:
#* 10757_큰 수 A+B
a,b = map(int,input().split())
print(a+b)

9223372036854775807 9223372036854775808
18446744073709551615

In [23]:
#* 10926_??!
data = str(input())
print(data + '??!')

jonnas
jonnas??!

In [24]:
#* 11283_한글 2
print(ord(input()) - ord("가") + 1)

가
1

In [25]:
#* 11382_꼬마 정민
data = map(int,input().split())
print(sum(data))

77 77 7777
7931

In [30]:
#* 11654_아스키 코드
#print(ord(input()))
a = input()
print(ord(a))

A
65

In [31]:
#* 11942_고려대는 사랑입니다
print('고려대학교')

고려대학교

In [32]:
#* 13277_큰 수 곱셈
a,b = map(int,input().split())
print(a*b)

1 2
2

In [ ]:
#* 14645_와이버스 부릉부릉
print('비와이')

In [50]:
#* 14652_나는 행복합니다~
N,M,K = map(int,input().split())
print(K//M, K%M)

3 4 6
1 2

In [51]:
#* 14928_큰 수(BIG)
N = int(input())
print(N % 20000303)

20000303200003032000030320000303200003032000030320000303200003032000030320000303
0

In [52]:
#* 15439_Vera and Outfits
N = int(input())
print(N*(N-1))

5
20

In [36]:
#* 15641_SUPER SUPER BINARY SEARCH DELUXE 2.5: THE LEGEND OF THE GOLDEN MAZASSUMNIDA, EPISODE 2: THE MAZWAETL UNIVERSE, PART 2: THE PARALLEL UNIVERSE AND THE LOST MAZASSUMNIDA: GAME OF THE YEAR EDITION 스페셜 저지출처언어 제한분류번외
#38번만에 답나옴..

In [60]:
#* 15727_조별과제를 하려는데 조장이 사라졌다
data = int(input())
print(data//5 + (1 if data%5 else 0))

12
3

In [61]:
#* 15733_나는 누구인가
print("I'm Sexy")

I'm Sexy

In [62]:
#* 15740_A+B-9
a,b = map(int,input().split())
print(a+b)

-60 40
-20

In [40]:
#* 15802_타노스
print(1)

In [73]:
#* 15890_전국 대학생 프로그래밍 대회 동아리 연합 여름 대회 2018
#import datetime
#print(str(datetime.datetime.now())[:4]+str(datetime.datetime.now())[5:7]+str(datetime.datetime.now())[8:10])
#print('20210206')

Y = 2018
M = 7
D = 29
print("%d%02d%02d" % (Y, M, D))

20210206

In [74]:
#* 15894_수학은 체육과목 입니다	
print(int(input()) * 4)

3
12

In [76]:
#* 15962_새로운 시작
print('파이팅!!')

파이팅!!

In [80]:
#* 15964_이상한 기호	
a,b = map(int,input().split())
print((a+b)*(a-b))

4 3
7

In [81]:
#* 16170_오늘의 날짜는?
import datetime
print(str(datetime.datetime.now())[:4])
print(str(datetime.datetime.now())[5:7])
print(str(datetime.datetime.now())[8:10])

2021
02
06

In [83]:
#* 16394_홍익대학교	
print(int(input()) - 1946)

2018
72

In [84]:
#* 16430_제리와 톰
A, B = map(int, input().split())
print(B-A, B)

2 7
5 7

In [91]:
#* 17256_달달함이 넘쳐흘러
a_x,a_y,a_z = map(int,input().split())
c_x,c_y,c_z = map(int,input().split())
b_x= c_x - a_z
b_y= c_y/a_y 
b_z = c_z-a_x 
print(int(b_x),int(b_y),int(b_z))

15 16 17
19 32 90
2 2 75

In [49]:
#* 17295_엔드게임 스포일러
print('Avengers: Endgame')

In [92]:
#* 17496_스타후르츠	
n,t,c,p=map(int,input().split())
print((n-1)//t*c*p)

7 3 2 750
3000

In [93]:
#* 18096_Арифметическая магия
print(1)

1

In [94]:
#* 1998년생인 내가 태국에서는 2541년생?!
print(int(input())-543)

2541
1998

In [96]:
#* 18301_Rats	
n1, n2, n3 = map(int, input().split())
print((n1+1)*(n2+1)//(n3+1)-1)

15 18 11
24

In [97]:
#* 20254_Site Score
Ur, Tr, Uo, To = map(int, input().split())
print(56*Ur + 24*Tr + 14*Uo + 6*To)

1 1 1 1
100

In [98]:
#* 20492_세금
N = int(input())
print(int(N*0.78), int(N*0.8 + (N*0.2*0.78)))

10000000
7800000 9560000