<a href="https://colab.research.google.com/github/mjs1995/coding/blob/main/INF/algo_interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# 1_유효한 팰린드롬
https://leetcode.com/problems/valid-palindrome/

- 알아두어야 할 부분! 
- for ch in s if ch.isalnum() : 문자만
- re.sub('[^a-z0-9]', '', s) : 문자만

In [ ]:
s = "A man, a plan, a canal: Panama"

In [ ]:
import re 
re.sub('[^a-z0-9]', '', s)

'raceacar'

In [ ]:
new = ''.join(ch for ch in s if ch.isalnum())
new.lower()

'amanaplanacanalpanama'

In [ ]:
new[::-1].lower()

'amanaplanacanalpanama'

In [ ]:
True if new.lower() == new[::-1].lower() else False

True

In [ ]:
s = "race a car"
new = ''.join(ch for ch in s if ch.isalnum())
print('true' if new.lower() == new[::-1].lower() else 'false')

false

In [ ]:
result = ''
if new.lower() == new[::-1].lower() :
    result = 'true'
else:
    result = 'false'

In [ ]:
result

'false'

In [ ]:
class Solution:
    def isPalindrome(self, s: str) -> bool:
        new = ''.join(ch for ch in s if ch.isalnum())
        return new.lower() == new[::-1].lower()

# 2_문자열 뒤집기
https://leetcode.com/problems/reverse-string/submissions/

- s.reverse() : 문자열 뒤집기

In [ ]:
s = ["h","e","l","l","o"]

In [ ]:
s.reverse()

In [ ]:
s

['o', 'l', 'l', 'e', 'h']

In [ ]:
s[::-1]

['o', 'l', 'l', 'e', 'h']

In [ ]:
class Solution(object):
    def reverseString(self, s):
        """
        :type s: List[str]
        :rtype: None Do not return anything, modify s in-place instead.
        """
        return s.reverse()

# 3_로그 파일 재정렬(937. Reorder Data in Log Files)
https://leetcode.com/problems/reorder-data-in-log-files/

In [ ]:
logs = ["dig1 8 1 5 1","let1 art can","dig2 3 6","let2 own kit dig","let3 art zero"]

In [ ]:
char , digit = [], []
for log in logs:
    if log.split()[1].isdigit():
        digit.append(log)
    else:
        char.append(log)
char.sort(key = lambda x : (x.split()[1:], x.split()[0]))

In [ ]:
char

['let1 art can', 'let3 art zero', 'let2 own kit dig']

In [ ]:
for log in logs:
    print(log.split())

['dig1', '8', '1', '5', '1']
['let1', 'art', 'can']
['dig2', '3', '6']
['let2', 'own', 'kit', 'dig']
['let3', 'art', 'zero']

In [ ]:
char + digit

['let1 art can',
 'let3 art zero',
 'let2 own kit dig',
 'dig1 8 1 5 1',
 'dig2 3 6']

In [ ]:
class Solution(object):
    def reorderLogFiles(self, logs):
        """
        :type logs: List[str]
        :rtype: List[str]
        """
        char , digit = [], []
        for log in logs:
            if log.split()[1].isdigit():
                digit.append(log)
            else:
                char.append(log)
        char.sort(key = lambda x : (x.split()[1:], x.split()[0]))
        return char + digit

# 4_가장 흔한 단어
https://leetcode.com/problems/most-common-word/

In [ ]:
paragraph = "Bob hit a ball, the hit BALL flew far after it was hit."
banned = ["hit"]

In [ ]:
paragraph.lower().split()

['bob',
 'hit',
 'a',
 'ball,',
 'the',
 'hit',
 'ball',
 'flew',
 'far',
 'after',
 'it',
 'was',
 'hit.']

In [ ]:
[i for i in paragraph.lower().split() if i.isalnum()]

['bob', 'hit', 'a', 'the', 'hit', 'ball', 'flew', 'far', 'after', 'it', 'was']

In [ ]:
s = [i for i in paragraph.lower().split() if i.isalnum()]
s

['bob', 'hit', 'a', 'the', 'hit', 'ball', 'flew', 'far', 'after', 'it', 'was']

In [ ]:
result = []
for i in s :
    if i not in banned:
        result.append(i)

In [ ]:
from collections import Counter
result

['bob', 'a', 'the', 'ball', 'flew', 'far', 'after', 'it', 'was']

In [ ]:
Counter(result)

Counter({'a': 1,
         'after': 1,
         'ball': 1,
         'bob': 1,
         'far': 1,
         'flew': 1,
         'it': 1,
         'the': 1,
         'was': 1})

In [ ]:
import re
cnt = Counter([word for word in re.sub('[^a-z0-9]', ' ', paragraph.lower()).split() if word not in banned])
cnt.most_common(1)[0][0]

'ball'

In [ ]:
cnt.most_common(1)[0][0]

'ball'

In [ ]:
class Solution(object):
    def mostCommonWord(self, paragraph, banned):
        """
        :type paragraph: str
        :type banned: List[str]
        :rtype: str
        """
        import re
        cnt = Counter([word for word in re.sub('[^a-z0-9]', ' ', paragraph.lower()).split() if word not in banned])
        return cnt.most_common(1)[0][0]

# 그룹 애너그램

In [ ]:
 strs = ["eat","tea","tan","ate","nat","bat"]

In [ ]:
from collections import defaultdict
anagrams = defaultdict(list)
anagrams

defaultdict(list, {})

In [ ]:
for word in strs:
    print(word, (''.join(sorted(word))))

eat aet
tea aet
tan ant
ate aet
nat ant
bat abt

In [ ]:
for word in strs:
    print(sorted(word))

['a', 'e', 't']
['a', 'e', 't']
['a', 'n', 't']
['a', 'e', 't']
['a', 'n', 't']
['a', 'b', 't']

In [ ]:
for word in strs:
    print(''.join(sorted(word)))

aet
aet
ant
aet
ant
abt

In [ ]:
for word in strs:
    anagrams[''.join(sorted(word))]
anagrams

defaultdict(list, {'abt': [], 'aet': [], 'ant': []})

In [ ]:
for word in strs:
    anagrams[''.join(sorted(word))].append(word)

In [ ]:
list(anagrams.values())

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [ ]:
anagrams

defaultdict(list,
            {'abt': ['bat', 'bat'],
             'aet': ['eat', 'tea', 'ate'],
             'ant': ['tan', 'nat']})

In [ ]:
class Solution(object):
    def groupAnagrams(self, strs):
        """
        :type strs: List[str]
        :rtype: List[List[str]]
        """
        from collections import defaultdict
        anagrams = defaultdict(list)
        for word in strs:
            anagrams[''.join(sorted(word))].append(word)
        return list(anagrams.values())

# 6 가장 긴 팰린드롬 부분 문자열
https://leetcode.com/problems/longest-palindromic-substring/submissions/

In [8]:
s = "babad"

def expand(left, right):
    while left >= 0 and right < len(s) and s[left] ==s[right]:
        left -= 1
        right += 1
    return s[left+ 1: right]    

# if len(s) < 2 or s == s[::-1]:
#     return s

result = ''
for i in range(len(s) -1 ):
    result = max(result, 
                 expand(i, i+1),
                 expand(i,i+2),
                 key=len)
    print(result)
#    return result

bab
bab
bab
bab

In [7]:
class Solution(object):
    def longestPalindrome(self, s):
        """
        :type s: str
        :rtype: str
        """
        def expand(left, right):
            while left >= 0 and right < len(s) and s[left] ==s[right]:
                left -= 1
                right += 1
            return s[left+ 1: right]    

        if len(s) < 2 or s == s[::-1]:
            return s

        result = ''
        for i in range(len(s) -1 ):
            result = max(result, 
                     expand(i, i+1),
                     expand(i,i+2),
                     key=len)
        return result

'bab'

#7 두 수의 합

In [2]:
nums = [2,7,11,15]
target = 9

In [12]:
result = [] 
for i in range(len(nums)):
    if nums[i] + nums[i-1] == target:
        result.append(i-1)
        result.append(i)

![image.png]()

In [21]:
nums = [3,3]
target = 6

In [22]:
result = [] 
for i in range(len(nums)):
    if len(nums) == 2:
        result = [0,1]
    elif nums[i] + nums[i-1] == target:
        result.append(i-1)
        result.append(i)
result

[0.1]

In [50]:
nums = [-3,4,3,90]
target = 0

In [56]:
        result = [] 
        for i in range(len(nums)):
            # if len(nums) == 2:
            #     result = [0,1]
            # elif nums[i] + nums[i-1] == target:
                # if i-1 <0:
                #     result.append(len(nums)-1)
                #     result.append(i)
                if nums[i] + nums[i-1] == target:
                    result.append(i-1)
                    result.append(i)

In [68]:
for i in range(len(nums)):
    for j in range(i+1, len(nums)):
        print(j)

1
2
3
2
3
3

In [66]:
result = [] 
for i in range(len(nums)):
    for j in range(i+1, len(nums)):
        if nums[i] + nums[j] == target:
                    result.append(i)
                    result.append(j)

In [67]:
class Solution(object):
    def twoSum(self, nums, target):
        """
        :type nums: List[int]
        :type target: int
        :rtype: List[int]
        """
        result = [] 
        for i in range(len(nums)):
            for j in range(i+1, len(nums)):
                if nums[i] + nums[j] == target:
                            result.append(i)
                            result.append(j)
        return result

[0, 2]

In [83]:
nums = [2,7,11,15]
target = 9
for i, n in enumerate(nums):
    complement = target - n
    #print(complement)
    if complement in nums[i+1: ]:
        print([nums.index(n), nums[i+1:].index(complement)+(i+1)])

[0, 1]

In [90]:
nums_map = {}
for i, num in enumerate(nums):
    nums_map[num] = i

for i, num in enumerate(nums):
    if target - num in nums_map and i != nums_map[target-num]:
        print( [i, nums_map[target-num]])

[0, 1]
[1, 0]

In [87]:
nums_map

{2: 0, 7: 1, 11: 2, 15: 3}

In [96]:
nums_map = {}
for i, num in enumerate(nums):
    print('@',nums_map)
    if target - num in nums_map:
        print('#',[nums_map[target-num], i])
    nums_map[num] = i
    print(nums_map)

@ {}
{2: 0}
@ {2: 0}
# [0, 1]
{2: 0, 7: 1}
@ {2: 0, 7: 1}
{2: 0, 7: 1, 11: 2}
@ {2: 0, 7: 1, 11: 2}
{2: 0, 7: 1, 11: 2, 15: 3}

In [93]:
for i, num in enumerate(nums):
    print(i,num)

0 2
1 7
2 11
3 15