<a href="https://colab.research.google.com/github/mjs1995/coding/blob/main/INF/algo_interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# 1_유효한 팰린드롬
https://leetcode.com/problems/valid-palindrome/

- 알아두어야 할 부분! 
- for ch in s if ch.isalnum() : 문자만
- re.sub('[^a-z0-9]', '', s) : 문자만

In [ ]:
s = "A man, a plan, a canal: Panama"

In [ ]:
import re 
re.sub('[^a-z0-9]', '', s)

'raceacar'

In [ ]:
new = ''.join(ch for ch in s if ch.isalnum())
new.lower()

'amanaplanacanalpanama'

In [ ]:
new[::-1].lower()

'amanaplanacanalpanama'

In [ ]:
True if new.lower() == new[::-1].lower() else False

True

In [ ]:
s = "race a car"
new = ''.join(ch for ch in s if ch.isalnum())
print('true' if new.lower() == new[::-1].lower() else 'false')

false

In [ ]:
result = ''
if new.lower() == new[::-1].lower() :
    result = 'true'
else:
    result = 'false'

In [ ]:
result

'false'

In [ ]:
class Solution:
    def isPalindrome(self, s: str) -> bool:
        new = ''.join(ch for ch in s if ch.isalnum())
        return new.lower() == new[::-1].lower()

# 2_문자열 뒤집기
https://leetcode.com/problems/reverse-string/submissions/

- s.reverse() : 문자열 뒤집기

In [ ]:
s = ["h","e","l","l","o"]

In [ ]:
s.reverse()

In [ ]:
s

['o', 'l', 'l', 'e', 'h']

In [ ]:
s[::-1]

['o', 'l', 'l', 'e', 'h']

In [ ]:
class Solution(object):
    def reverseString(self, s):
        """
        :type s: List[str]
        :rtype: None Do not return anything, modify s in-place instead.
        """
        return s.reverse()

# 3_로그 파일 재정렬(937. Reorder Data in Log Files)
https://leetcode.com/problems/reorder-data-in-log-files/

In [ ]:
logs = ["dig1 8 1 5 1","let1 art can","dig2 3 6","let2 own kit dig","let3 art zero"]

In [ ]:
char , digit = [], []
for log in logs:
    if log.split()[1].isdigit():
        digit.append(log)
    else:
        char.append(log)
char.sort(key = lambda x : (x.split()[1:], x.split()[0]))

In [ ]:
char

['let1 art can', 'let3 art zero', 'let2 own kit dig']

In [ ]:
for log in logs:
    print(log.split())

['dig1', '8', '1', '5', '1']
['let1', 'art', 'can']
['dig2', '3', '6']
['let2', 'own', 'kit', 'dig']
['let3', 'art', 'zero']

In [ ]:
char + digit

['let1 art can',
 'let3 art zero',
 'let2 own kit dig',
 'dig1 8 1 5 1',
 'dig2 3 6']

In [ ]:
class Solution(object):
    def reorderLogFiles(self, logs):
        """
        :type logs: List[str]
        :rtype: List[str]
        """
        char , digit = [], []
        for log in logs:
            if log.split()[1].isdigit():
                digit.append(log)
            else:
                char.append(log)
        char.sort(key = lambda x : (x.split()[1:], x.split()[0]))
        return char + digit

# 4_가장 흔한 단어
https://leetcode.com/problems/most-common-word/

In [ ]:
paragraph = "Bob hit a ball, the hit BALL flew far after it was hit."
banned = ["hit"]

In [ ]:
paragraph.lower().split()

['bob',
 'hit',
 'a',
 'ball,',
 'the',
 'hit',
 'ball',
 'flew',
 'far',
 'after',
 'it',
 'was',
 'hit.']

In [ ]:
[i for i in paragraph.lower().split() if i.isalnum()]

['bob', 'hit', 'a', 'the', 'hit', 'ball', 'flew', 'far', 'after', 'it', 'was']

In [ ]:
s = [i for i in paragraph.lower().split() if i.isalnum()]
s

['bob', 'hit', 'a', 'the', 'hit', 'ball', 'flew', 'far', 'after', 'it', 'was']

In [ ]:
result = []
for i in s :
    if i not in banned:
        result.append(i)

In [ ]:
from collections import Counter
result

['bob', 'a', 'the', 'ball', 'flew', 'far', 'after', 'it', 'was']

In [ ]:
Counter(result)

Counter({'a': 1,
         'after': 1,
         'ball': 1,
         'bob': 1,
         'far': 1,
         'flew': 1,
         'it': 1,
         'the': 1,
         'was': 1})

In [ ]:
import re
cnt = Counter([word for word in re.sub('[^a-z0-9]', ' ', paragraph.lower()).split() if word not in banned])
cnt.most_common(1)[0][0]

'ball'

In [ ]:
cnt.most_common(1)[0][0]

'ball'

In [ ]:
class Solution(object):
    def mostCommonWord(self, paragraph, banned):
        """
        :type paragraph: str
        :type banned: List[str]
        :rtype: str
        """
        import re
        cnt = Counter([word for word in re.sub('[^a-z0-9]', ' ', paragraph.lower()).split() if word not in banned])
        return cnt.most_common(1)[0][0]

# 그룹 애너그램

In [ ]:
 strs = ["eat","tea","tan","ate","nat","bat"]

In [ ]:
from collections import defaultdict
anagrams = defaultdict(list)
anagrams

defaultdict(list, {})

In [ ]:
for word in strs:
    print(word, (''.join(sorted(word))))

eat aet
tea aet
tan ant
ate aet
nat ant
bat abt

In [ ]:
for word in strs:
    print(sorted(word))

['a', 'e', 't']
['a', 'e', 't']
['a', 'n', 't']
['a', 'e', 't']
['a', 'n', 't']
['a', 'b', 't']

In [ ]:
for word in strs:
    print(''.join(sorted(word)))

aet
aet
ant
aet
ant
abt

In [ ]:
for word in strs:
    anagrams[''.join(sorted(word))]
anagrams

defaultdict(list, {'abt': [], 'aet': [], 'ant': []})

In [ ]:
for word in strs:
    anagrams[''.join(sorted(word))].append(word)

In [ ]:
list(anagrams.values())

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [ ]:
anagrams

defaultdict(list,
            {'abt': ['bat', 'bat'],
             'aet': ['eat', 'tea', 'ate'],
             'ant': ['tan', 'nat']})

In [ ]:
class Solution(object):
    def groupAnagrams(self, strs):
        """
        :type strs: List[str]
        :rtype: List[List[str]]
        """
        from collections import defaultdict
        anagrams = defaultdict(list)
        for word in strs:
            anagrams[''.join(sorted(word))].append(word)
        return list(anagrams.values())

# 6 가장 긴 팰린드롬 부분 문자열
https://leetcode.com/problems/longest-palindromic-substring/submissions/

In [ ]:
s = "babad"

def expand(left, right):
    while left >= 0 and right < len(s) and s[left] ==s[right]:
        left -= 1
        right += 1
    return s[left+ 1: right]    

# if len(s) < 2 or s == s[::-1]:
#     return s

result = ''
for i in range(len(s) -1 ):
    result = max(result, 
                 expand(i, i+1),
                 expand(i,i+2),
                 key=len)
    print(result)
#    return result

bab
bab
bab
bab

In [ ]:
class Solution(object):
    def longestPalindrome(self, s):
        """
        :type s: str
        :rtype: str
        """
        def expand(left, right):
            while left >= 0 and right < len(s) and s[left] ==s[right]:
                left -= 1
                right += 1
            return s[left+ 1: right]    

        if len(s) < 2 or s == s[::-1]:
            return s

        result = ''
        for i in range(len(s) -1 ):
            result = max(result, 
                     expand(i, i+1),
                     expand(i,i+2),
                     key=len)
        return result

'bab'

#7 두 수의 합

In [ ]:
nums = [2,7,11,15]
target = 9

In [ ]:
result = [] 
for i in range(len(nums)):
    if nums[i] + nums[i-1] == target:
        result.append(i-1)
        result.append(i)

![image.png]()

In [ ]:
nums = [3,3]
target = 6

In [ ]:
result = [] 
for i in range(len(nums)):
    if len(nums) == 2:
        result = [0,1]
    elif nums[i] + nums[i-1] == target:
        result.append(i-1)
        result.append(i)
result

[0.1]

In [ ]:
nums = [-3,4,3,90]
target = 0

In [ ]:
        result = [] 
        for i in range(len(nums)):
            # if len(nums) == 2:
            #     result = [0,1]
            # elif nums[i] + nums[i-1] == target:
                # if i-1 <0:
                #     result.append(len(nums)-1)
                #     result.append(i)
                if nums[i] + nums[i-1] == target:
                    result.append(i-1)
                    result.append(i)

In [ ]:
for i in range(len(nums)):
    for j in range(i+1, len(nums)):
        print(j)

1
2
3
2
3
3

In [ ]:
result = [] 
for i in range(len(nums)):
    for j in range(i+1, len(nums)):
        if nums[i] + nums[j] == target:
                    result.append(i)
                    result.append(j)

In [ ]:
class Solution(object):
    def twoSum(self, nums, target):
        """
        :type nums: List[int]
        :type target: int
        :rtype: List[int]
        """
        result = [] 
        for i in range(len(nums)):
            for j in range(i+1, len(nums)):
                if nums[i] + nums[j] == target:
                            result.append(i)
                            result.append(j)
        return result

[0, 2]

In [ ]:
nums = [2,7,11,15]
target = 9
for i, n in enumerate(nums):
    complement = target - n
    #print(complement)
    if complement in nums[i+1: ]:
        print([nums.index(n), nums[i+1:].index(complement)+(i+1)])

[0, 1]

In [ ]:
nums_map = {}
for i, num in enumerate(nums):
    nums_map[num] = i

for i, num in enumerate(nums):
    if target - num in nums_map and i != nums_map[target-num]:
        print( [i, nums_map[target-num]])

[0, 1]
[1, 0]

In [ ]:
nums_map

{2: 0, 7: 1, 11: 2, 15: 3}

In [ ]:
nums_map = {}
for i, num in enumerate(nums):
    print('@',nums_map)
    if target - num in nums_map:
        print('#',[nums_map[target-num], i])
    nums_map[num] = i
    print(nums_map)

@ {}
{2: 0}
@ {2: 0}
# [0, 1]
{2: 0, 7: 1}
@ {2: 0, 7: 1}
{2: 0, 7: 1, 11: 2}
@ {2: 0, 7: 1, 11: 2}
{2: 0, 7: 1, 11: 2, 15: 3}

In [ ]:
for i, num in enumerate(nums):
    print(i,num)

0 2
1 7
2 11
3 15

# 8 빗물 트래핑
https://leetcode.com/problems/trapping-rain-water/

In [ ]:
height = [0,1,0,2,1,0,1,3,2,1,2,1]

In [ ]:
left = 0
right = len(height) -1

In [ ]:
left_max = height[left]
right_max = height[right]

In [ ]:
left_max

0

In [ ]:
height[left]

0

In [ ]:
volume = 0

In [ ]:
while left < right:
    left_max = max(left_max, height[left])
    right_max = max(right_max, height[right])

    if left_max <= right_max:
        volume += left_max - height[left]
        left += 1
    else:
        volume += right_max - height[right]
        right -= 1
    print(volume)

1
1
2
4
5
5
6
6

In [ ]:
left_max

0

In [ ]:
height[left]

0

In [ ]:
left = 0
right = len(height) -1 
left_max = height[left]
right_max = height[right]
volume = 0

In [ ]:
while left < right:
    left_max = max(left_max, height[left])
    right_max = max(right_max, height[right])

    if left_max <= right_max:
        volume += left_max - height[left]
        left += 1
        print(left,left_max, height[left],volume)
    else:
        volume += right_max - height[right]
        right -= 1

1 0 1 0
2 1 0 0
3 1 2 1
4 2 1 1
5 2 0 2
6 2 1 4
7 2 3 5

In [ ]:
while left < right:
    left_max = max(left_max, height[left])
    right_max = max(right_max, height[right])

    if left_max <= right_max:
        volume += left_max - height[left]
        left += 1
    else:
        volume += right_max - height[right]
        right -= 1
    print('l', 'l_m', 'he]', '/', 'r,r_m', 'hei','volume')    
    print(left, left_max, height[left], '/', right,right_max, height[right],volume)

l l_m he] / r,r_m hei volume
1 0 1 / 11 1 1 0
l l_m he] / r,r_m hei volume
2 1 0 / 11 1 1 0
l l_m he] / r,r_m hei volume
3 1 2 / 11 1 1 1
l l_m he] / r,r_m hei volume
3 2 2 / 10 1 2 1
l l_m he] / r,r_m hei volume
4 2 1 / 10 2 2 1
l l_m he] / r,r_m hei volume
5 2 0 / 10 2 2 2
l l_m he] / r,r_m hei volume
6 2 1 / 10 2 2 4
l l_m he] / r,r_m hei volume
7 2 3 / 10 2 2 5
l l_m he] / r,r_m hei volume
7 3 3 / 9 2 1 5
l l_m he] / r,r_m hei volume
7 3 3 / 8 2 2 6
l l_m he] / r,r_m hei volume
7 3 3 / 7 2 3 6

In [ ]:
class Solution(object):
    def trap(self, height):
        """
        :type height: List[int]
        :rtype: int
        """
        left = 0
        right = len(height) -1 
        left_max = height[left]
        right_max = height[right]
        volume = 0
        while left < right:
            left_max = max(left_max, height[left])
            right_max = max(right_max, height[right])

            if left_max <= right_max:
                volume += left_max - height[left]
                left += 1
            else:
                volume += right_max - height[right]
                right -= 1
        return volume

# 9 세수의 합

In [ ]:
nums = [-1,0,1,2,-1,4]

In [ ]:
result = []
nums.sort()
for i in range(len(nums) - 2):
    for j in range(i+1, len(nums)-1 ):
        for k in range(j+1, len(nums)):
            if nums[i] + nums[j] + nums[k] == 0:
                result.append([nums[i], nums[j], nums[k]])
            print(result)

[]
[]
[[-1, -1, 2]]
[[-1, -1, 2]]
[[-1, -1, 2], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]
[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]

In [ ]:
result = []
nums.sort()
for i in range(len(nums) - 2):
    for j in range(i+1, len(nums)-1 ):
        for k in range(j+1, len(nums)):
            if nums[i] + nums[j] + nums[k] == 0:
                result.append([nums[i], nums[j], nums[k]])
                print(i)

0
0
1

In [ ]:
# 중복일경우,,
class Solution(object):
    def threeSum(self, nums):
        """
        :type nums: List[int]
        :rtype: List[List[int]]
        """
        result = []
        nums.sort()
        for i in range(len(nums) - 2):
            if i > 0 and nums[i] == nums[i-1]:
                continue
            for j in range(i+1, len(nums)-1 ):
                if i+1 > 0 and nums[j] == nums[j-1]:
                    continue
                for k in range(j+1, len(nums)):
                    if nums[i] + nums[j] + nums[k] == 0:
                        result.append([nums[i], nums[j], nums[k]])
        return result

![image.png]()

In [ ]:
class Solution(object):
    def threeSum(self, nums):
        """
        :type nums: List[int]
        :rtype: List[List[int]]
        """
        result = []
        nums.sort()
        for i in range(len(nums) - 2):
            if i > 0 and nums[i] == nums[i-1]:
                continue
            for j in range(i+1, len(nums)-1 ):
                if j > i+1 and nums[j] == nums[j-1]:
                    continue
                for k in range(j+1, len(nums)):
                    if k > j+1 and nums[k] == nums[k-1]:
                        continue
                    if nums[i] + nums[j] + nums[k] == 0:
                        result.append([nums[i], nums[j], nums[k]])
        return result

![image.png]()

In [ ]:
class Solution(object):
    def threeSum(self, nums):
        """
        :type nums: List[int]
        :rtype: List[List[int]]
        """
        result = []
        nums.sort()
        for i in range(len(nums) - 2):
            if i > 0 and nums[i] == nums[i-1]:
                continue
            left, right = i +1, len(nums)-1
            while left < right:
                sum = nums[i] + nums[left] + nums[right]
                if sum < 0 :
                    left += 1
                elif sum >0 :
                    right -= 1
                else:
                    result.append([nums[i], nums[left], nums[right]])

                    while left < right and nums[left] == nums[left+1]:
                        left += 1
                    while left < right and nums[right] == nums[right-1]:
                        right -= 1
                    left += 1
                    right -= 1
        return result

# 배열 파티션 1
https://leetcode.com/problems/array-partition-i

In [ ]:
nums = [1,4,3,2]

In [ ]:
sum(sorted(nums)[::2])

4

In [ ]:
sum = 0 
nums.sort()

for i in range(len(nums)):
    if i % 2 == 0:
        sum += nums[i]
sum

4

In [ ]:
nums

[1, 4, 3, 2]

In [ ]:
class Solution(object):
    def arrayPairSum(self, nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        return sum(sorted(nums)[::2])

# 11 자신을 제외한 배열의 곱
https://leetcode.com/problems/product-of-array-except-self/submissions/

In [ ]:
nums = [1,2,3,4]

In [ ]:
for i in range(len(nums)-1,-1, -1):
    print(i)

3
2
1
0

In [ ]:
for i in range(len(nums)-1):
    print(i)

0
1
2

In [ ]:
out = []
p = 1
for i in range(len(nums)):
    out.append(p)
    p = p * nums[i] # 1,1,2,6
p = 1
for i in range(len(nums)-1 , 0-1, -1): # 3,2,1,0
    out[i] = out[i] * p
    p = p * nums[i]
    print(out, p)

[1, 1, 2, 6] 4
[1, 1, 8, 6] 12
[1, 12, 8, 6] 24
[24, 12, 8, 6] 24

In [ ]:
class Solution(object):
    def productExceptSelf(self, nums):
        """
        :type nums: List[int]
        :rtype: List[int]
        """
        out = []
        p = 1
        for i in range(len(nums)):
            out.append(p)
            p = p * nums[i] # 1,1,2,6
        p = 1
        for i in range(len(nums)-1 , 0-1, -1): # 3,2,1,0
            out[i] = out[i] * p
            p = p * nums[i]
        return out

# 12_주식을 살고팔기 가장 좋은 시점


sys.maxsize : 시스템의 가장 큰값

In [ ]:
import sys 
prices = [7,1,5,3,6,4]
profit = 0
min_price = sys.maxsize
for price in prices:
    min_price = min(price, min_price)
    profit = max(profit , price - min_price)
    print(profit)

0
0
4
4
5
5

In [ ]:
min_price = 9999
profit = 0
for price in prices:
    min_price = min(price, min_price)
    profit = max(profit , price - min_price)
    print(profit)

0
0
4
4
5
5

In [ ]:
price_min = 10000 
profit = 0 
for price_current in prices: 
    price_min = min(price_current, price_min) # 현재 가격 - 최저값의 값과 수익의 값 중, 최대값을 수익값으로 보고 스왑함 
    profit = max(profit, price_current-price_min)
profit

5

In [ ]:
class Solution(object):
    def maxProfit(self, prices):
        """
        :type prices: List[int]
        :rtype: int
        """
        import sys 
        profit = 0
        min_price = 9999
        for price in prices:
            min_price = min(min_price, price)
            profit = max(profit , price - min_price)
        return profit

In [ ]:
class Solution(object):
    def maxProfit(self, prices):
        """
        :type prices: List[int]
        :rtype: int
        """
        profit = 0
        for i in range(len(prices)):
            for j in range(i, len(prices)):
                profit = max(prices[j] - prices[i], profit)
        return profit

# 13_팰린드롬 연결 리스트

In [ ]:
head = [1,2,2,1]

In [ ]:
res = []
while len(head) > 1:
    if res.pop(0) != res.pop():
        print(False)

1

In [ ]:
import collections 
q = collections.deque()

# 20 Valid Parentheses
https://leetcode.com/problems/valid-parentheses/

In [ ]:
stack = []
table  = {
    ')' : '(',
    ']' : '[',
    '}' : '{'
}

In [ ]:
s = "()[]{}"
for char in s:
    if char not in table:
        stack.append(char)
    elif not stack or table[char] != stack.pop():
        return False
return len(stack) == 0

3

In [ ]:
class Solution(object):
    def isValid(self, s):
        """
        :type s: str
        :rtype: bool
        """
        stack = []
        table  = {
            ')' : '(',
            ']' : '[',
            '}' : '{'
        }
        for char in s:
            if char not in table:
                stack.append(char)
            elif not stack or table[char] != stack.pop():
                return False
        return len(stack) == 0

# 21_중복문자제거

In [ ]:
s = "bcabc"

"".join(sorted(list(set(s))))

'abc'

In [ ]:
s = "cbacdcbc"
# 
"acdb"

# 22_일일 온도

In [ ]:
t = [73,74,75,71,69,72,76,73]

73

In [ ]:
t = [73,74,75,71,69,72,76,73]
answer = [0] * len(t)
stack =[]
for i, cur in enumerate(t):
    while stack and cur > t[stack[-1]]:
        last = stack.pop()
        answer[last] = i - last
        print(cur)
    stack.append(i)

74
75
72
72
76
76

In [ ]:
for i, cur in enumerate(t):
    print(i)

0
1
2
3
4
5
6
7

# 23_큐를 이용한 스택 구현
https://leetcode.com/problems/implement-stack-using-queues/submissions/

In [ ]:
class MyStack(object):

    def __init__(self):
        self.q = collections.deque()
        

    def push(self, x):
        """
        :type x: int
        :rtype: None
        """
        self.q.append(x)
        for _ in range(len(self.q) - 1):
            self.q.append(self.q.popleft())

    def pop(self):
        """
        :rtype: int
        """
        return self.q.popleft()

    def top(self):
        """
        :rtype: int
        """
        return self.q[0]

    def empty(self):
        """
        :rtype: bool
        """
        return len(self.q) == 0

In [ ]:
q = collections.deque()

In [ ]:
q.append(1)
q.append(2)
q.append(3) # [1,2,3]
for _ in range(len(q)-1):
    print(q.popleft())

1
2

In [ ]:
for _ in range(len(q)-1):
    q.append(q.popleft())
    print(q)

deque([2, 3, 1])
deque([3, 1, 2])

In [ ]:
q

deque([3, 1, 2])

In [ ]:
import collections
# Your MyStack object will be instantiated and called as such:
obj = MyStack()
obj.push(1)
obj.push(2)
param_2 = obj.pop()
# param_3 = obj.top()
# param_4 = obj.empty()

In [ ]:
obj

# 24_스택을 이용한 큐 구현

In [ ]:
class MyQueue(object):

    def __init__(self):
        self.input =[]
        self.output =[]
        

    def push(self, x):
        """
        :type x: int
        :rtype: None
        """
        self.input.append(x)

    def pop(self):
        """
        :rtype: int
        """
        self.peek()
        return self.output.pop()
    
    def peek(self):
        """
        :rtype: int
        """
        if not self.output:
            while self.input:
                self.output.append(self.input.pop())
        return self.output[-1]
    def empty(self):
        """
        :rtype: bool
        """
        return self.input == [] and self.output == []

# Your MyQueue object will be instantiated and called as such:
# obj = MyQueue()
# obj.push(x)
# param_2 = obj.pop()
# param_3 = obj.peek()
# param_4 = obj.empty()

# Your MyQueue object will be instantiated and called as such:
# obj = MyQueue()
# obj.push(x)
# param_2 = obj.pop()
# param_3 = obj.peek()
# param_4 = obj.empty()

# 30_보석과 돌
https://leetcode.com/problems/jewels-and-stones

In [ ]:
J = "aA"
S = "aAAbbbb"

freqs = {}
count = 0

for char in S:
    if char not in freqs:
        freqs[char] = 1
    else:
        freqs[char] += 1

for char in J:
    if char in freqs:
        count += freqs[char]
count

3

In [ ]:
freqs

{'A': 2, 'a': 1, 'b': 4}

In [ ]:
import collections
freqs = collections.defaultdict(int)
count = 0

In [ ]:
freqs

defaultdict(int, {})

In [ ]:
for char in S:
    freqs[char] += 1

In [ ]:
freqs

defaultdict(int, {'A': 2, 'a': 1, 'b': 4})

In [ ]:
for char in J:
    count += freqs[char]
count

3

In [ ]:
# Counter
freqs = collections.Counter(S)
freqs

Counter({'A': 2, 'a': 1, 'b': 4})

In [ ]:
count = 0

for char in J:
    count += freqs[char]
count

3

In [ ]:
sum(s in J for s in S)

3

In [ ]:
class Solution(object):
    def numJewelsInStones(self, jewels, stones):
        """
        :type jewels: str
        :type stones: str
        :rtype: int
        """
        return sum(s in jewels for s in stones)

# 30_중복 문자 없는 가장 긴 부분 문자열

In [ ]:
s = "abcabcbb"
used = {}
max_length = start = 0
for index, char in enumerate(s):
    if char in used and start <= used[char]:
        start = used[char] + 1
    else:
        max_length = max(max_length, index- start + 1)
    used[char] = index
    print(used)
    print(max_length)
    print('*')

{'a': 0}
1
*
{'a': 0, 'b': 1}
2
*
{'a': 0, 'b': 1, 'c': 2}
3
*
{'a': 3, 'b': 1, 'c': 2}
3
*
{'a': 3, 'b': 4, 'c': 2}
3
*
{'a': 3, 'b': 4, 'c': 5}
3
*
{'a': 3, 'b': 6, 'c': 5}
3
*
{'a': 3, 'b': 7, 'c': 5}
3
*

In [ ]:
s = "abcabcbb"
used = {}
max_length = start = 0
for index, char in enumerate(s):
    if char in used and start <= used[char]:
        start = used[char] + 1
    else:
        max_length = max(max_length, index- start + 1)
    used[char] = index
    print(start)

0
0
0
1
2
3
5
7

In [ ]:
for index, char in enumerate(s):
    print(index)

0
1
2
3
4
5
6
7

# 31_상위 K빈도 요소

In [ ]:
nums = [1,1,1,2,2,3] 
k =  2

In [ ]:
from collections import Counter
Counter(nums).most_common(2)

[(1, 3), (2, 2)]

In [ ]:
list(zip(*Counter(nums).most_common(2)))[0]

(1, 2)

In [ ]:
import heapq 

freqs = Counter(nums)
freqs_heap = []
for f in freqs:
    heapq.heappush(freqs_heap, (-freqs[f], f))

In [ ]:
freqs

Counter({1: 3, 2: 2, 3: 1})

In [ ]:
freqs_heap

[(-3, 1), (-2, 2), (-1, 3)]

In [ ]:
topk = list()
for _ in range(k):
    topk.append(heapq.heappop(freqs_heap)[1])

In [ ]:
topk

[1, 2]

# 32_ 섬의 개수

In [ ]:
grid = [
  ["1","1","1","1","0"],
  ["1","1","0","1","0"],
  ["1","1","0","0","0"],
  ["0","0","0","0","0"]
]

In [ ]:
def dfs(i,j):
    if i < 0 or i >= len(grid) or \
        j < 0 or j >= len(grid) or \
        grid[i][j] != '1':
            return 
    grid[i][j] = 0

    dfs(i+1, j)    
    dfs(i-1,j)
    dfs(i,j+1)
    dfs(i,j-1)

count = 0
for i in range(len(grid)):
    for j in range(len(grid[0])):
        if grid[i][j] == '1':
            dfs(i,j)
            count += 1

In [ ]:
grid

[[0, 0, 0, 0, '0'],
 [0, 0, '0', 0, '0'],
 [0, 0, '0', '0', '0'],
 ['0', '0', '0', '0', '0']]

In [ ]:
for i in range(len(grid)):
    for j in range(len(grid[0])):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4

# 33_전화 번호 문자 조합

In [ ]:
digits = "23"

In [ ]:
path = ""
dic = {"2": "abc",
       "3": "def",
       "4": "ghi",
       "5": "jkl",
       "6": "mno",
       "7": "pqrs",
       "8": "tuv",
       "9": "wxyz"
       }

In [ ]:
def dfs(index, path):
    if len(path) == len(digits):
        result.append(path)
        return

    for i in range(index, len(digits)): # 0,1 
        for j in dic[digits[i]]: # a,b,c,d,e,f
            dfs(i+1, path+j)
    #print(path+j)

In [ ]:
# if not digits:
#     return []

result = []
dfs(0,"")

In [ ]:
result

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [ ]:
for i in range(0, len(digits)): #0,1
    for j in dic[digits[i]]:
        print(j)

a
b
c
d
e
f

In [ ]:
len(digits)

2

# 순열

In [ ]:
import itertools
nums = [1,2,3]

list(itertools.permutations(nums))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
result = []
prev_elements = []

def dfs(elements):
    if len(elements) == 0:
        result.append(prev_elements[:])
    for e in elements:
        next_elements = elements[:]
        next_elements.remove(e)

        prev_elements.append(e)
        dfs(next_elements)
        prev_elements.pop()
        print(prev_elements)
dfs(nums)

[1, 2]
[1]
[1, 3]
[1]
[]
[2, 1]
[2]
[2, 3]
[2]
[]
[3, 1]
[3]
[3, 2]
[3]
[]

In [ ]:
next_elements = nums[:]
next_elements.remove(1)

In [ ]:
next_elements

[2, 3]

In [ ]:
for e in [3]:
    print(e)

3

# 35_조합

In [ ]:
n = 4
k = 2

In [ ]:
from itertools import combinations

list(combinations(range(1,n+1), k))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [ ]:
result = []

def dfs(elements, start, k):
    if k == 0:
        result.append(elements[:])
        return 
    # 1,2,3,4
    for i in range(start, n+1): # dfs(ele, start, k) / dfs([1],2,1)  / dfs([1,2],3,0) / dfs[1,3],4,0)
        elements.append(i)
        print('@',i+1)
        print(elements)
        dfs(elements,i+1, k-1) # dfs([1],2,1) / 
        elements.pop()
        print('#',elements)        

# i = 1 / i+1 = 2 시작
# dfs(ele, start, k) / dfs([1],2,1)  / dfs([1,2],3,0) / dfs[1,3],4,0) / dfs[1,4], 4,0 
# i = 2 -> 3
# dfs([2], 3,1) / dfs[2,3], 4,0 / dfs[2]-> dfs[2,4],5,0) dfs[2], 
# i = 3 -> 4
# dfs([3], 4,1) / dfs[3,4],5,0 / 
# i = 4 -> 5
# dfs([4], 5, 1) / dfs[[4], ]

In [ ]:
dfs([],1,k)

@ 2
[1]
@ 3
[1, 2]
# [1]
@ 4
[1, 3]
# [1]
@ 5
[1, 4]
# [1]
# []
@ 3
[2]
@ 4
[2, 3]
# [2]
@ 5
[2, 4]
# [2]
# []
@ 4
[3]
@ 5
[3, 4]
# [3]
# []
@ 5
[4]
# []

In [ ]:
result

[[1, 2], [1, 3], [1, 4], [2, 3], [2, 4], [3, 4]]

In [ ]:
dfs([1],2,0)

In [ ]:
for i in range(2, n+1):
    print(i)

2
3
4

# 37_부분집합

In [ ]:
nums = [1,2,3]

In [ ]:
result = []

def dfs(index,path):
    result.append(path)

    for i in range(index,len(nums)): #dfs(1,[1]) # dfs
        print(i+1)
        print('#',path + [nums[i]])
        dfs(i+1, path + [nums[i]])
        print('@',result)
dfs(0,[])

1
# [1]
2
# [1, 2]
3
# [1, 2, 3]
@ [[], [1], [1, 2], [1, 2, 3]]
@ [[], [1], [1, 2], [1, 2, 3]]
3
# [1, 3]
@ [[], [1], [1, 2], [1, 2, 3], [1, 3]]
@ [[], [1], [1, 2], [1, 2, 3], [1, 3]]
2
# [2]
3
# [2, 3]
@ [[], [1], [1, 2], [1, 2, 3], [1, 3], [2], [2, 3]]
@ [[], [1], [1, 2], [1, 2, 3], [1, 3], [2], [2, 3]]
3
# [3]
@ [[], [1], [1, 2], [1, 2, 3], [1, 3], [2], [2, 3], [3]]

In [ ]:
    for i in range(0,len(nums)):
        print(i)

0
1
2

# 38_일정 재구성

In [ ]:
tickets = [["MUC","LHR"],["JFK","MUC"],["SFO","SJC"],["LHR","SFO"]]

In [ ]:
from collections import defaultdict

In [ ]:
graph = defaultdict(list)
for a, b in sorted(tickets):
    graph[a].append(b)

In [ ]:
graph

defaultdict(list,
            {'JFK': ['MUC'], 'LHR': ['SFO'], 'MUC': ['LHR'], 'SFO': ['SJC']})

In [ ]:
route = []
def dfs(a):
    while graph[a]:
        dfs(graph[a].pop(0))
    route.append(a)
    print(route)
dfs('JFK')

['SJC']
['SJC', 'SFO']
['SJC', 'SFO', 'LHR']
['SJC', 'SFO', 'LHR', 'MUC']
['SJC', 'SFO', 'LHR', 'MUC', 'JFK']

In [ ]:
route

['JFK']

In [ ]:
graph['JFK'].pop(0)

'MUC'

In [ ]:
graph = defaultdict(list)
for a, b in sorted(tickets, reverse=True):
    graph[a].append(b)

route = []
def dfs(a):
    while graph[a]:
        print(graph[a])
        dfs(graph[a].pop(0)) # MUC, LHR, SFO, SJC
    route.append(a)
dfs('JFK')

['MUC']
['LHR']
['SFO']
['SJC']

In [ ]:
graph = defaultdict(list)
for a, b in sorted(tickets, reverse=True):
    graph[a].append(b)
route, stack = [], ['JFK']
while stack:
    while graph[stack[-1]]:
        stack.append(graph[stack[-1]].pop(0))
    route.append(stack.pop())

# 네트워크 딜레이 타임

In [ ]:
n = 3
edges = [[0,1,100],[1,2,100],[0,2,500]]
src = 0
dst = 2
K = 0

In [ ]:
import collections

graph = collections.defaultdict(list)
for u,v,w in edges:
    graph[u].append((v,w))

In [ ]:
graph

defaultdict(list, {0: [(1, 100), (2, 500)], 1: [(2, 100)]})

In [ ]:
k = 0
q = [[0,src,K]]

In [ ]:
q

[[0, 0, 0]]

In [ ]:
import heapq
while q:
    price, node , k = heapq.heappop(q)
    if node == dst:
        print(price)
    if k >= 0:
        for v,w in graph[node]:
            alt = price + w
            heapq.heappush(q, (alt,v,k-1))

# 42_이진 트리의 최대 깊이

In [ ]:
root = [3,9,20,'null','null',15,7]

In [ ]:
import collections

In [ ]:
def maxDepth(root):
    if root in None:
        return 0
    queue = collections.deque([root])
    depth = 0

    while queue:
        depth += 1
        for _ in range(len(queue)):
            cur_root = queue.popleft()

In [ ]:
queue = collections.deque([root])
queue

deque([[3, 9, 20, 'null', 'null', 15, 7]])

In [ ]:
cur_root = queue.popleft()
cur_root

[3, 9, 20, 'null', 'null', 15, 7]

# 이진트리의 직경

In [ ]:
root = [1,2,3,4,5]

In [ ]:
def dfs(node):
    longest = 0
    if not node:
        return -1
    left = dfs(node.left)
    right = dfs(node.right)

    longest = max(longest, left + right + 2)
    print(max(left,right) + 1)

# 가장 긴 동일 값의 경로

In [ ]:
def longestUnivaluePath(root):
    def dfs(node):
        if node is None:
            return 0
        left = dfs(node.left)
        right = dfs(node.right)

        if node.left and node.left.val == node.val:
            left += 1
        else:
            left = 0
        if node.right and node.right.val == node.val:
            right += 1
        else: 
            right = 0
        result = max(result, left+right)
        return max(left,right)
dfs(root)

# 이진 트리의 반전

In [ ]:
def invertTree(root):
    if root:
        root.left , root.right = self.invertTree(root.right), self.invertTree(root.left)
        return root
    return None

In [ ]:
def InverTree(self, root):
    queue = coolections.deque([root])
    while queue:
        node = queue.popleft()
        if node:
            node.left, node.right = node.right , node.left
            queue.append(node.left)
            queue.append(node.right)
    return root

In [ ]:
def InverTree(self, root):
    stack = coolections.deque([root])
    while queue:
        node = stack.pop()
        if node:
            node.left, node.right = node.right , node.left
            stack.append(node.left)
            stack.append(node.right)
    return root

In [ ]:
def InverTree(self, root):
    stack = coolections.deque([root])
    while queue:
        node = stack.pop()
        if node:
            stack.append(node.left)
            stack.append(node.right)
            node.left, node.right = node.right , node.left # 후위 순위
    return root

# 두 이진 트리 병합

In [ ]:
def mergeTrees(self,t1,t2):
    if t1 and t2:
        node = TreeNode(t1.val + t2.val)
        node.left = self.mergeTrees(t1.left, t2.left)
        node.right = self.mergeTrees(t1.right, t2.right)
        return node
    else:
        return t1 or t2

# 이진 트리 직렬화 & 역직렬화

In [ ]:
class Codec:
    def serialize(self, root):
        queue = collections.deque([root])
        result = ['#']
        while queue:
            node = queuel.popleft()
            if node:
                queue.append(node.left)
                queue.append(node.right)

                result.append(str(node.val))
            else:
                result.append('#')
        return ' '.join(result)
    # 역직렬화
    def deserialize(self, data):
        if data == '# #':
            return None
        nodes = data.split()

        root = TreeNode(int(nodes[1]))
        queue = collections.deque([root])
        index = 2
        while queue:
            node = queue.popleft()
            if nodes[index] is not '#':
                node.left = TreeNode(int(nodes[index]))
                queue.append(node.left)
            index += 1

            if nodes[index] is not '#':
                node.right = TreeNode(int[nodes[index]])
                queue.append(node.right)
            index += 1
        return root

# 균형 이진 트리

In [ ]:
node = [3,9,20,'null','null',15,7]

In [ ]:
def isBalanced(self,root):
    def check(root):
        if not root:
            retrun 0
        
        left = check(root.left)
        right = check(root.right)
        if left == -1 or right == -1 or abs(left-right) > 1:
            return -1
        return max(left,right) + 1
    return check(root) != -1

# 최소 높이 트리

In [ ]:
n = 4 
edges = [[1,0], [1,2], [1,3]]

In [ ]:
def findeMinHeight(self, edges):
    if n <= 1:
        return [0]
    graph = collections.defaultdict(list)
    for i,j in edges:
        graph[i].append(j)
        graph[j].append(i)
    
    leaves = []
    for i in range(n+1):
        if len(graph[i]) == 1:
            leaves.append(i)

    while n > 2:
        n -= len(leaves)
        new_leaves = []
        for leaf in leaves:
            neighbor = graph[leaf].pop()
            graph[neighbor].remove(leaf)

            if len(graph[neighbor]) == 1:
                new_leaves.append(neighbor)
        leaves = new_leaves
    return leaves

# 정렬된 배열의 이진 탐색 트리 변환

In [ ]:
nums = [-10,-3,0,5,9]

def sortedArrayToBST(self, nums):
    if not nums:
        return None
    mid = len(nums) // 2
    node = TreeNode(nums[mid])
    node.left = self.sortedArrayToBST(nums[:mid])
    node.right = self.sortedArrayToBST(nums[mid+1:])

    return node

In [ ]:
class TreeNode(object):
    def __init__(self, x):
        self.val = x
        self.left = None
        self.right = None

mid = len(nums) // 2
node = TreeNode(nums[mid])

In [ ]:
node.left

# 이진 탐색 트리(BST)를 더 큰 수 합계 트리로

In [ ]:
class Solution:
    val: int = 0
    def bstToGST(self, root: TreeNode) -> TreeNode:
        if root:
            self.bstToGst(root.right)
            self.val += root.val
            root.val = self.val
            sefl.bstToGST(root.left)
        return root

# 이진 탐색 트리(BST) 합의 범위

In [ ]:
root = [10,5,15,3,7,'null',18]
L = 7
R = 15

In [ ]:
def rangeSumBST(self, root,L,R):
    if not root:
        return 0
    return (root.val if L <= root.val <= R else 0) + \
            self.rangeSumBST(root.left, L, R) + \
            self.rangeSumBST(root.right, L, R)

In [ ]:
def ramgeSumBST(self, root, L, R):
    def dfs(node):
        if not node:
            return 0
        if node.val < L :
            return dfs(node.right)
        elif node.val > R:
            return dfs(node.left)
        return node.val + dfs(node.left) + dfs(node.right)
    return dfs(root)

In [ ]:
def rangeSumBST(self,root,L,R):
    stack, sum = [root], 0
    while stack:
        node = stack.pop()
        if node:
            if node.val > L :
                stack.append(node.left)
            if node.val < R:
                satck.append(node.right)
            if L <= node.val <= R:
                sum += node.val
    return sum

In [ ]:
def rangeSumBST(self,root,L,R):
    stack, sum = [root], 0
    while stack:
        node = stack.pop(0)
        if node:
            if node.val > L:
                stack.append(node.left)
            if node.val < R:
                stack.append(node.right)
            if L <= node.val <= R:
                sum += node.val
    return sum

# 이진 탐색 트리(BST) 노드 간 최소 거리

In [ ]:
root = [4,2,6,1,3,'null','null']

In [ ]:
class Solution:
    prev = -sys.maxsize
    result = sys.maxsize

    def minDiffInBST(self, root:TreeNode):
        if root.left:
            self.minDiffInBST(root.left)
        self.result = min(self.result, root.val - self.prev)
        self.prev = root.val

        if root.right:
            self.minDiffInBST(root.right)

        return self.result

In [ ]:
def minDiffInBST(self,TreeNode):
    prev = -sys.maxsize
    result = sys.maxsize

    stack = []
    node = root

    while stack or node:
        while node:
            stack.append(node)
            node = node.left

        node = stack.pop()

        result = min(result, node.val - prev)
        prev = node.val

        node = node.right
    return result

# 전위, 중위 순회 결과로 이진 트리 구축

In [ ]:
node = [3,9,20,15,7]

In [ ]:
def buildTree(self, preorder, inorder):
    if inorder:
        index = inorder.index(preorder.pop(0))

        node = TreeNode(inorder[index])
        node.left = self.buildTree(preorder, inorder[0:index])
        node.right = self.buildTree(preorder, inorder[index+1])

        return node

# 배열의 K번째 큰 요소

In [ ]:
nums = [3,2,3,1,2,4,5,5,6]
k = 4

In [ ]:
def findKthLagest(nums,k):
    heap = list()
    for n in nums:
        heapq.heappush(heap,-n)
        print(heap)
    
    for _ in range(1,k):
        heapq.heappop(heap)
        print('#',heap)
    
    return -heapq.heappop(heap)

In [ ]:
import heapq
findKthLagest(nums,k)

[-3]
[-3, -2]
[-3, -2, -3]
[-3, -2, -3, -1]
[-3, -2, -3, -1, -2]
[-4, -2, -3, -1, -2, -3]
[-5, -2, -4, -1, -2, -3, -3]
[-5, -5, -4, -2, -2, -3, -3, -1]
[-6, -5, -4, -5, -2, -3, -3, -1, -2]
# [-5, -5, -4, -2, -2, -3, -3, -1]
# [-5, -2, -4, -2, -1, -3, -3]
# [-4, -2, -3, -2, -1, -3]

4

In [ ]:
def findKthLagest(nums,k):
    heapq.heapify(nums)

    for _ in range(len(nums) - k):
        heapq.heappop(nums)

    return heapq.heappop(nums)

In [ ]:
findKthLagest(nums,k)

4

In [ ]:
nums = [3,2,3,1,2,4,5,5,6]

def findKthLagest(nums,k):
    return heapq.nlargest(k,nums)[-1]

In [ ]:
findKthLagest(nums,k)

4

In [ ]:
nums = [3,2,3,1,2,4,5,5,6]

def findKthLagest(nums,k):
    return sorted(nums, reverse=True)[k-1]

In [ ]:
sorted(nums, reverse=True)[3]

4

# 트라이 구현

In [ ]:
class TrieNode:
    def __init__(self):
        self.word = False
        self.children = collections.defaultdict(TrieNode)

class Trie:
    def __init__(self):
        self.root = TrieNode()

    def insert(self, word):
        node = self.root
        for char in word:
            node = node.children[char]
        node.word = True
    
    def search(self, word):
        node = self.root
        for char in word:
            if char not in node.children:
                return False
            node = node.children[char]
        return node.word
    
    def startsWith(self, prefix):
        node = self.root
        for char in prefix:
            if char not in node.children:
                return False
            node = node.children[char]
        return True

# 펠린드롬 페어

In [ ]:
def palindromePairs(sefl,words):
    def is_palindrome(word):
        return word == word[::-1]
    
    output = []
    for i, word1 in enumerate(words):
        for j, word2 in enumerate(words):
            if i == j:
                continue
            if is_palindrome(word1+word2):
                output.append([i,j])
    return output

In [ ]:
class TrieNode:
    def __init__(self):
        self.children = collections.defaultdict(TrieNode)
        self.word_id = -1
        self.palindrome_word_ids = []

class Trie:
    def __init__(self):
        self.root = TrieNode()

    @staticmethod
    def is_palindrome(word):
        return word[::] == word[::-1]
    
    def insert(self,index,word):
        node = self.root
        for i,char in enumerate(reversed(word)):
            if self.is_palindrome(word[0:len(word) - i]):
                node.palindrome_word_ids.append(index)
            node = node.children[char]
        node.word_id = index

    def search(self,index,word):
        result = []
        node = self.root

        while word:
            if node.word_id >= 0:
                if self.is_palindrome(word):
                    result.append([index, node.word_id])
            if not word[0] in node.children:
                return result
            node = node.children[word[0]]
            word = word[1:]

        if node.word_id >= 0 and node.word_id != index:
            result.append([index, node.word_id])
        return result

class Solution:
    def palindromePairs(self, words):
        tire = Trie()

        for i,word in enumerate(words):
            trie.insert(i,word)

        results = []
        for i,word in enumerate(words):
            results.extend(trie.search(i,word))

        return results

# 리스트 정렬

In [ ]:
def mergeTwoLists(self, l1,l2):
    if l1 and l2:
        if l1.val > l2.val:
            l1, l2 = l2, let1
        l1.next = self.mergeTwoLists(l1.next, l2)
    return l1 or let2

def sortList(self, head):
    if not (head and head.next):
        return head

    half, slow, fast = None, head, head
    while fast and fast.next:
        half, slow, fast = slow, slow.next, fast.next.next
    hlaf.next = None

    l1 = self.sortList(head)
    l2 = self.sortList(slow)

    return self.mergeTwoLists(l1,l2)

In [ ]:
def sortList(self, head):
    p = head
    lst = []
    while p:
        lst.append(p.val)
        p = p.next

    lst.sort()

    p = head
    for i in range(len(lst)):
        p.val = lst[i]
        p = p.next
    return head

# 구간 병합

In [1]:
intervals = [[1,3],[2,6],[8,10],[15,18]]

In [2]:
def merge(self,intervals):
    merged = []
    for i in sorted(intervals, key = lambda x: x[0]):
        if merged and i[0] <= merged[-1][1]:
            merged[-1][1] = max(merged[-1][1], i[1])
    else:
        merged += i,

    return merged

# 삽입 정렬 리스트

In [3]:
def insertionSortList(self,head):
    cur = parent = ListNode(None)
    while head:
        while cur.next and cur.next.val < head.val:
            cur = cur.next

        cur.next, head.next, head = head, cur.next, head.next

        cur = parent
    return cur.next

In [4]:
def insertionSortList(self,head):
    cur = parent = ListNode(0)
    while head:
        while cur.next and cur.next.val < head.val:
            cur = cur.next

        cur.next, head.next, head = head, cur.next, head.next

        if head and cur.val > head.val:
            cur = parent
    return parent.next

# 가장 큰 수

In [5]:
nums = [10,2]

In [6]:
class Solution:
    @staticmethod
    def to_swap(n1,n2):
        return str(n1) + str(n2) < str(n2) + str(n1)
    def largestNumber(self, nums):
        i = 1
        while i < len(nums):
            j = i
            while j > 0 and self.to_swap(nums[j-1] , nums[j]):
                nums[j], nums[j - 1] = nums[j-1], nums[j]
                j -= 1
            i += 1

        return str(int(''.join(map(str,nums))))

# 유효한 애너그램

In [7]:
s = "anagram"
t = "nagaram"

In [8]:
def isAnagram(self, s, t):
    return sorted(s) == sorted(t)

# 색 정렬