<a href="https://colab.research.google.com/github/mjs1995/coding/blob/main/INF/cloud_algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 단어장 만들기

In [ ]:
# 단어의 길이로 정렬하기, Sort의 디폴트는 사전순 정렬
word.sort(key = lambda x : len(x))
print(word[k-1])

In [ ]:
word = list()
n, k = map(int, input().split())
for i in range(n):
    word.append(input().rstrip())

7 3
aaaa
aaa
aa
a
b
bb
bbb

In [ ]:
word.sort(key = lambda x : len(x))
print(word[k-1])

aa

In [ ]:
import sys
input = sys.stdin.readline
word = list()
n, k = map(int, input().split())
for i in range(n):
    word.append(input().rstrip())
word.sort()
word.sort(key = lambda x : len(x))
print(word[k-1])

In [ ]:
word = list()
n, k = map(int, input().split())
for i in range(n):
    word.append(input().rstrip())

7 3
aaaa
aaa
aa
a
b
bb
bbb

In [ ]:
word.sort()

In [ ]:
word

['a', 'aa', 'aaa', 'aaaa', 'b', 'bb', 'bbb']

In [ ]:
word.sort(key = lambda x : len(x))

In [ ]:
word

['a', 'b', 'aa', 'bb', 'aaa', 'bbb', 'aaaa']

# week_1
## sol_1

In [ ]:
N = int(input())
ans = 1
B = list(map(int, input().split()))
for n in B:
    ans = ans * n

print(ans)

## sol_2

In [ ]:
n, s = map(str, input().split())
cnt = 0
for i in range(int(n)):
    name = input()
    if s in name:
        cnt += 1
print(cnt)

4 dalgu
dalgu
benjamin
oscar
goormee
1

## sol_3

In [ ]:
# -*- coding: utf-8 -*-
# UTF-8 encoding when using korean
arr = list(map(int, input().split()))
arr.sort()
print(abs(arr[3] - arr[0]) + abs(arr[2] - arr[1]))

In [ ]:
import sys
input = sys.stdin.readline
arr = list(map(int, input().split()))
arr.sort()
x = abs(arr[0] - arr[3])
y = abs(arr[1] - arr[2])

print(x + y)

In [ ]:
import sys
input = sys.stdin.readline
arr = list(map(int, input().split()))
arr.sort()
print(arr[3] + arr[2] - arr[1] - arr[0])

In [ ]:
'''
1. 4개의 정수를 배치할 수 있는 모든 경우를 파악한다.
2. 각각의 경우의 수에 대하여 맨해튼 거리를 구하고, 최대값을 찾는다.
'''
# 경우의 수를 찾는 방법. a, b, c, d 가 주어졌을 때,
for i in range(4):
    x1 = arr[i]
    for j in range(4):
        if i != j:
            x2 = arr[j]
            for s in range(4):
                if s != i and s != j:
                    y1 = arr[s]
                    for k in range(4):
                        if k != i and k != j and k != s:
                            y2 = arr[k]
                            print(x1, x2, y1, y2)

## sol_4

In [ ]:
def prime(n):
    check = [True] * (n + 1)

    m = int(n ** .5)
    for i in range(2, m + 1):
        if check[i]:
            for j in range(i + i, n + 1, i):
                check[j] = False
    
    return [i for i in range(2, n + 1) if check[i]]

N = int(input())
p = prime(N)

A = list(map(int, input().split()))

12
-46 65 13 24 -25 60 -39 31 -21 -10 69 9

In [ ]:
res = 0

for i in p:
    res += A[i - 1]
    print(A[i-1])

65
13
-25
-39
69

In [ ]:
res

83

In [ ]:
import sys
input = sys.stdin.readline

def prime(n):
    check = [True] * (n + 1)

    m = int(n ** .5)
    for i in range(2, m + 1):
        if check[i]:
            for j in range(i + i, n + 1, i):
                check[j] = False
    
    return [i for i in range(2, n + 1) if check[i]]

N = int(input())
p = prime(N)

A = list(map(int, input().split()))
res = 0

for i in p:
    res += A[i - 1]

print(res)

# week_2

## sol_1

In [ ]:
# 2
# 3
# 1 3 7
# 1
# 5 
t = int(input())
for _ in range(t):
    n = int(input())
    arr = list(map(int,input().split()))
    avg = sum(arr) / n
    cnt = 0
    for s in arr:
        if s >= avg:
            cnt += 1
    print("%d/%d" % (cnt,n))

2
3
1 3 7
1/3
1
5
1/1

## sol_2

In [ ]:
import sys
input = sys.stdin.readline
n = int(input())
arr = input()
cnt = 0
for i in range(n-1):
    if arr[i+1] == arr[i]:
        continue
    else:
        cnt += 1

print(cnt+1)

## sol_3

In [8]:
n, s = map(int, input().split())

5 5

In [9]:
# 5 1
# goorm 110.40
# goormee 111.50
# goormy 109.50
# oscar 100.00
# henry 200.00

# 5 5
# abcabc 120.00
# abcabca 120.00
# abcabcb 120.00
# abcabcc 120.00
# abcabcd 120.00
arr = [] 
for _ in range(n):
    arr.append(input())

abcabc 120.00
abcabca 120.00
abcabcb 120.00
abcabcc 120.00
abcabcd 120.00

In [10]:
from functools import cmp_to_key
def cmp(a,b):
	if a[0] == b[0] :
		return a[1] < b[1]
	else:
		return a[0] < b[0]
print(sorted(arr,key=cmp_to_key(cmp)))

['abcabc 120.00', 'abcabca 120.00', 'abcabcb 120.00', 'abcabcc 120.00', 'abcabcd 120.00']

In [11]:
from functools import cmp_to_key
n, s = map(int, input().split())
arr = [] 
for _ in range(n):
    arr.append(input())
		
def cmp(a,b):
	if a[0] == b[0] :
		return a[1] < b[1]
	else:
		return a[0] < b[0]
print(sorted(arr,key=cmp_to_key(cmp))[s-1])

'abcabcd 120.00'

## sol_4

In [1]:
# 3 3
# 3 3
# 3 3
# 1 1
n, k = map(int, input().split())
mat = [[ 0 for _ in range(n)] for _ in range(n)]

3 3

In [5]:
from collections import deque

q = deque()
#deque에 대한 설명은 하단에!
for _ in range(k):
    s, e = map(int ,input().split())
    q.append([s-1, e-1])

3 3
3 3
1 1

In [6]:
q

deque([[2, 2], [2, 2], [0, 0]])

In [7]:
dx = [0, 0 ,0, 1, -1]
dy = [0, 1, -1, 0, 0]
while q:
    x, y = q.popleft()
    for i in range(5):
        nx = x + dx[i]
        ny = y + dy[i]
        if 0  <= nx < n and 0 <= ny < n:
						#해당 과정 대신에, 조건이 성립하면 구협 대신에 1만 더해도 된다.
            mat[nx][ny] += 1
    print(mat)

[[0, 0, 0], [0, 0, 1], [0, 1, 1]]
[[0, 0, 0], [0, 0, 2], [0, 2, 2]]
[[1, 1, 0], [1, 0, 2], [0, 2, 2]]

In [ ]:
import sys
input = sys.stdin.readline
from collections import deque
dx = [0 ,0, 1, -1]
dy = [1, -1, 0, 0]
n, k = map(int, input().split())
mat = [[ 0 for _ in range(n)] for _ in range(n)]
q = deque()
for _ in range(k):
    s, e = map(int ,input().split())
    q.append([s-1, e-1])

while q:
    x, y = q.popleft()
    mat[x][y] += 1
    for i in range(4):
        nx = x + dx[i]
        ny = y + dy[i]
        if 0  <= nx < n and 0 <= ny < n:
						#해당 과정 대신에, 조건이 성립하면 1을 더해도 된다.
            mat[nx][ny] += 1
ans = 0
for i in mat:
    ans += sum(i)
print(ans)

# week_3

## sol_1

In [1]:
# 8
# 1 2 3 4 -1 -2 -3 -5
from collections import defaultdict
n = int(input())
dic = defaultdict()
arr = list(map(int, input().split()))

8
1 2 3 4 -1 -2 -3 -5

In [13]:
dic = defaultdict()

In [14]:
for i in arr:
    if abs(i) in dic:
        dic.pop(abs(i))
    else:
        dic[i] = 1
    print(dic)

defaultdict(None, {1: 1})
defaultdict(None, {1: 1, 2: 1})
defaultdict(None, {1: 1, 2: 1, 3: 1})
defaultdict(None, {1: 1, 2: 1, 3: 1, 4: 1})
defaultdict(None, {2: 1, 3: 1, 4: 1})
defaultdict(None, {3: 1, 4: 1})
defaultdict(None, {4: 1})
defaultdict(None, {4: 1, -5: 1})

In [16]:
print(sum(dic.keys()))

-1

In [ ]:
import sys
input = sys.stdin.readline
from collections import defaultdict
n = int(input())
dic = defaultdict()
arr = list(map(int, input().split()))
for i in arr:
    if abs(i) in dic:
        dic.pop(abs(i))
    else:
        dic[i] = 1
print(sum(dic.keys()))

## sol_2

In [ ]:
import sys
input = sys.stdin.readline

n = int(input())
dic = {
    1 : "1.,?!",
    2 : "2ABC",
    3 : "3DEF",
    4 : "4GHI",
    5 : "5JKL",
    6 : "6MNO",
    7 : "7PQRS",
    8 : "8TUV",
    9 : "9WXYZ",
}
command = input()
ans = ''
cnt = 0
for i in range(n):
    if i == n:
        break
    else:
        if command[i+1] == command[i]:
            cnt += 1
            continue
        else:
            cnt %= len(dic[int(command[i])])
            ans += dic[int(command[i])][cnt]
            cnt = 0
print(ans)