<a href="https://colab.research.google.com/github/mjs1995/coding/blob/main/INF/cloud_algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 단어장 만들기

In [ ]:
# 단어의 길이로 정렬하기, Sort의 디폴트는 사전순 정렬
word.sort(key = lambda x : len(x))
print(word[k-1])

In [ ]:
word = list()
n, k = map(int, input().split())
for i in range(n):
    word.append(input().rstrip())

7 3
aaaa
aaa
aa
a
b
bb
bbb

In [ ]:
word.sort(key = lambda x : len(x))
print(word[k-1])

aa

In [ ]:
import sys
input = sys.stdin.readline
word = list()
n, k = map(int, input().split())
for i in range(n):
    word.append(input().rstrip())
word.sort()
word.sort(key = lambda x : len(x))
print(word[k-1])

In [ ]:
word = list()
n, k = map(int, input().split())
for i in range(n):
    word.append(input().rstrip())

7 3
aaaa
aaa
aa
a
b
bb
bbb

In [ ]:
word.sort()

In [ ]:
word

['a', 'aa', 'aaa', 'aaaa', 'b', 'bb', 'bbb']

In [ ]:
word.sort(key = lambda x : len(x))

In [ ]:
word

['a', 'b', 'aa', 'bb', 'aaa', 'bbb', 'aaaa']

# week_1
## sol_1

In [ ]:
N = int(input())
ans = 1
B = list(map(int, input().split()))
for n in B:
    ans = ans * n

print(ans)

## sol_2

In [3]:
n, s = map(str, input().split())
cnt = 0
for i in range(int(n)):
    name = input()
    if s in name:
        cnt += 1
print(cnt)

4 dalgu
dalgu
benjamin
oscar
goormee
1

# sol_3

In [ ]:
# -*- coding: utf-8 -*-
# UTF-8 encoding when using korean
arr = list(map(int, input().split()))
arr.sort()
print(abs(arr[3] - arr[0]) + abs(arr[2] - arr[1]))

In [ ]:
import sys
input = sys.stdin.readline
arr = list(map(int, input().split()))
arr.sort()
x = abs(arr[0] - arr[3])
y = abs(arr[1] - arr[2])

print(x + y)

In [ ]:
import sys
input = sys.stdin.readline
arr = list(map(int, input().split()))
arr.sort()
print(arr[3] + arr[2] - arr[1] - arr[0])

In [ ]:
'''
1. 4개의 정수를 배치할 수 있는 모든 경우를 파악한다.
2. 각각의 경우의 수에 대하여 맨해튼 거리를 구하고, 최대값을 찾는다.
'''
# 경우의 수를 찾는 방법. a, b, c, d 가 주어졌을 때,
for i in range(4):
    x1 = arr[i]
    for j in range(4):
        if i != j:
            x2 = arr[j]
            for s in range(4):
                if s != i and s != j:
                    y1 = arr[s]
                    for k in range(4):
                        if k != i and k != j and k != s:
                            y2 = arr[k]
                            print(x1, x2, y1, y2)