<a href="https://colab.research.google.com/github/mjs1995/coding/blob/main/INF/py_cote.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 큰 수의 법칙

In [ ]:
n,m,k = 5,8,3
data = list(map(int, input().split()))

data.sort()
first = data[-1]
second = data[-2]

result = 0
while True:
    for i in range(k):
        if m == 0:
            break
        result += first
        m = -1
    if m == 0 :
        break
    result += second
    m -= 1

#print(result)

In [ ]:
n,m,k = 5,8,3
data = list(map(int, input().split()))

data.sort()
first = data[n-1]
second = data[n-2]

count = int(m / (k+1)) * k # 6
count == m % (k+1)

result = 0
result += (count) * first
result += (m - count) * second
print(result)

2 4 5 4 6
46

# 숫자 카드 게임

In [ ]:
n,m = map(int, input().split())

result = 0
for i in range(n):
    data = list(map(int,input().split()))
    min_value = min(data)
    result = max(result,min_value)
print(result)

2 4
7 3 1 8
3 3 3 4
3

In [ ]:
n,m = map(int,input().split())

result = 0
for i in range(n):
    data = list(map(int, input().split()))
    min_value = 10001
    for a in data:
        min_value = min(min_value, a)
    result = max(result, min_value)
print(result)

# 1이 될 때까지

In [ ]:
n,k = map(int,input().split())
result = 0

while n>=k:
    while n % k != 0:
        n -= 1
        result += 1
    n //= k
    result += 1
while n > 1:
    n -= 1
    result += 1

print(result)

25 5
2

In [ ]:
n,k = map(int,input().split())
result = 0

while True:
    target = (n//k) * k
    result += (n - target)
    n = target
    if n < k:
        break
    result += 1
    n //= k
result += (n-1)
print(result)

25 5
2

# 왕실의 나이트

In [ ]:
input_data = input()
row = int(input_data[1])
column = int(ord(input_data[0])) - int(ord('a') + 1)

steps = [(-2,-1), (-1,-2), (1,-2) , (2,-1), (2,1), (1,2), (-1,2), (-2,1)]
result = 0
for step in steps:
    next_row = row + step[0]
    next_column = column + step[1]
    if next_row >=1 and next_row <= 8 and next_column >=1 and next_column <= 8 :
        result += 1
print(result)

a1
1

In [ ]:
print(ord(input_data[0]))
print(int(ord('a') + 1))

97
98

# 게임 개발

In [ ]:
n,m = map(int,input().split())
d = [[0] * m for _ in range(n)]

x,y,direction = map(int,input().split())
d[x][y] = 1

array = []
for i in range(n):
    array.append(list(map(int,input().split())))

dx = [-1,0,1,0]
dy = [0,1,0,-1]

def turn_left():
    global direction
    direction -= 1
    if direction == -1:
        direction = 3

count = 1
turn_time = 0
while True:
    turn_left()
    nx = x + dx[direction]
    ny = y + dy[direction]

    if d[nx][ny] == 0 and array[nx][ny] == 0:
        d[nx][ny] = 1
        x = nx
        y = ny
        count += 1
        turn_time = 0
        continue
    else:
        turn_time += 1
    if turn_time == 4:
        nx = x - dx[direction]
        ny = y - dy[direction]
        if array[nx][ny] == 0:
            x = nx
            y = ny
        else:
            break
        turn_time 0 
print(count)

# 음료수 얼려 먹기

In [ ]:
n,m = map(int,input().split())
graph = []
for i in range(n):
    graph.append(list(map(int,input())))

def dfs(x,y):
    if x <= -1 or x >= n or y <= 1 or y >= m:
        return False
    if graph[x][y] == 0:
        graph[x][y] = 1
        dfs(x-1,y)
        dfs(x, y -1)
        dfs(x+1, y)
        dfs(x,y+1)
        return False
    return False

result = 0
for i in range(n):
    for j in range(m):
        if dfs(i,j) == True:
            result += 1
print(result)

# 미로 탈출

In [ ]:
from collections import deque 
n,m = map(int,input().split())
graph = []
for i in range(n):
    graph.append(list(map(int,input())))

dx = [-1,1,0,0]
dy = [0,0,-1,1]

def bfs(x,y):
    queue = deque()
    queue.append((x,y))
    while queue:
        x,y = queue.popleft()
        for i in range(4):
            nx = x + dx[i]
            ny = y + dy[i]
            if nx < 0 or ny <0 or nx >= n or ny >= m:
                continue
            if graph[nx][ny] == 0:
                continue
            if graph[nx][ny] = graph[x][y] + 1:
                queue.append((nx,ny))
    return graph[n-1][m-1]

print(bfs(0,0))