<a href="https://colab.research.google.com/github/mjs1995/coding/blob/main/INF/py_cote.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 큰 수의 법칙

In [ ]:
n,m,k = 5,8,3
data = list(map(int, input().split()))

data.sort()
first = data[-1]
second = data[-2]

result = 0
while True:
    for i in range(k):
        if m == 0:
            break
        result += first
        m = -1
    if m == 0 :
        break
    result += second
    m -= 1

#print(result)

In [ ]:
n,m,k = 5,8,3
data = list(map(int, input().split()))

data.sort()
first = data[n-1]
second = data[n-2]

count = int(m / (k+1)) * k # 6
count == m % (k+1)

result = 0
result += (count) * first
result += (m - count) * second
print(result)

2 4 5 4 6
46

# 숫자 카드 게임

In [ ]:
n,m = map(int, input().split())

result = 0
for i in range(n):
    data = list(map(int,input().split()))
    min_value = min(data)
    result = max(result,min_value)
print(result)

2 4
7 3 1 8
3 3 3 4
3

In [ ]:
n,m = map(int,input().split())

result = 0
for i in range(n):
    data = list(map(int, input().split()))
    min_value = 10001
    for a in data:
        min_value = min(min_value, a)
    result = max(result, min_value)
print(result)

# 1이 될 때까지

In [ ]:
n,k = map(int,input().split())
result = 0

while n>=k:
    while n % k != 0:
        n -= 1
        result += 1
    n //= k
    result += 1
while n > 1:
    n -= 1
    result += 1

print(result)

25 5
2

In [ ]:
n,k = map(int,input().split())
result = 0

while True:
    target = (n//k) * k
    result += (n - target)
    n = target
    if n < k:
        break
    result += 1
    n //= k
result += (n-1)
print(result)

25 5
2

# 왕실의 나이트

In [ ]:
input_data = input()
row = int(input_data[1])
column = int(ord(input_data[0])) - int(ord('a') + 1)

steps = [(-2,-1), (-1,-2), (1,-2) , (2,-1), (2,1), (1,2), (-1,2), (-2,1)]
result = 0
for step in steps:
    next_row = row + step[0]
    next_column = column + step[1]
    if next_row >=1 and next_row <= 8 and next_column >=1 and next_column <= 8 :
        result += 1
print(result)

a1
1

In [ ]:
print(ord(input_data[0]))
print(int(ord('a') + 1))

97
98

# 게임 개발

In [ ]:
n,m = map(int,input().split())
d = [[0] * m for _ in range(n)]

x,y,direction = map(int,input().split())
d[x][y] = 1

array = []
for i in range(n):
    array.append(list(map(int,input().split())))

dx = [-1,0,1,0]
dy = [0,1,0,-1]

def turn_left():
    global direction
    direction -= 1
    if direction == -1:
        direction = 3

count = 1
turn_time = 0
while True:
    turn_left()
    nx = x + dx[direction]
    ny = y + dy[direction]

    if d[nx][ny] == 0 and array[nx][ny] == 0:
        d[nx][ny] = 1
        x = nx
        y = ny
        count += 1
        turn_time = 0
        continue
    else:
        turn_time += 1
    if turn_time == 4:
        nx = x - dx[direction]
        ny = y - dy[direction]
        if array[nx][ny] == 0:
            x = nx
            y = ny
        else:
            break
        turn_time 0 
print(count)

# 음료수 얼려 먹기

In [ ]:
n,m = map(int,input().split())
graph = []
for i in range(n):
    graph.append(list(map(int,input())))

def dfs(x,y):
    if x <= -1 or x >= n or y <= 1 or y >= m:
        return False
    if graph[x][y] == 0:
        graph[x][y] = 1
        dfs(x-1,y)
        dfs(x, y -1)
        dfs(x+1, y)
        dfs(x,y+1)
        return False
    return False

result = 0
for i in range(n):
    for j in range(m):
        if dfs(i,j) == True:
            result += 1
print(result)

# 미로 탈출

In [ ]:
from collections import deque 
n,m = map(int,input().split())
graph = []
for i in range(n):
    graph.append(list(map(int,input())))

dx = [-1,1,0,0]
dy = [0,0,-1,1]

def bfs(x,y):
    queue = deque()
    queue.append((x,y))
    while queue:
        x,y = queue.popleft()
        for i in range(4):
            nx = x + dx[i]
            ny = y + dy[i]
            if nx < 0 or ny <0 or nx >= n or ny >= m:
                continue
            if graph[nx][ny] == 0:
                continue
            if graph[nx][ny] = graph[x][y] + 1:
                queue.append((nx,ny))
    return graph[n-1][m-1]

print(bfs(0,0))

# 위에서 아래로

In [2]:
n = int(input())
array = []
for i in range(n):
    array.append(int(input()))
array = sorted(array, reverse=True)

for i in array:
    print(i, end = ' ')

3
27
12
15
27 15 12

# 성적이 낮은 순서로 학생 출력하기

In [4]:
n = int(input())
array = []
for i in range(n):
    input_data = input().split()
    array.append((input_data[0], int(input_data[1])))
array = sorted(array, key = lambda x: x[1])
for a in array:
    print(a[0], end = ' ')

2
홍 85
지 32
지 홍

# 두 배열의 원소 교체

In [1]:
n,k = map(int, input().split())
a = list(map(int,input().split()))
b = list(map(int, input().split()))

a.sort()
b.sort(reverse=True)

for i in range(k):
    if a[i] < b[i]:
        a[i], b[i] = b[i], a[i]
    else:
        break
print(sum(a))

5 3
1 2 5 4 3
5 5 6 6 5
26

# 부품 찾기

In [ ]:
def binary_search(array, target, start,end):
    while start <= end:
        mid = (start+end) // 2
        if array[mid] == target:
            return mid
        elif array[mid] > target:
            end = mid - 1
        else:
            start = mid + 1
    return None

n = int(input())
array = list(map(int,input().split()))
array.sort()
m = int(input())
x = list(map(int,input().split()))

for i in x:
    result = binary_search(array,i,0,n-1)
    if result != None:
        print('yes',end = ' ')
    else:
        print('no', end=' ')

In [1]:
n = int(input())
array = [0] * 1000001

for i in input().split():
    array[int(i)] = 1

m = int(input())
x = list(map(int,input().split()))
for i in x:
    if array[i] == 1:
        print('yes', end = ' ')
    else:
        print('no', end= ' ')

5
8 3 7 9 2
3
5 7 9
no yes yes

In [3]:
n = int(input())
array = set(map(int,input().split()))
m = int(input())
x = list(map(int,input().split()))

for i in x:
    if i in array:
        print('yes', end = ' ')
    else:
        print('no', end = ' ')

5
8 3 7 9 2
3
5 7 9
no yes yes

# 떡볶이 떡 만들기

In [ ]:
n,m = list(map(int,input().split(' ')))
array = list(map(int,input().split()))

start = 0
end = max(array)

result = 0
while(start <= end):
    total = 0
    mid = (start+end) // 2
    for x in array:
        if x > mid:
            total += x - mid
    if total < m:
        end = mid - 1
    else:
        result = mid
        start = mid + 1
print(result)

# 1로 만들기

In [ ]:
x = int(input())
d = [0] * 30001

for i in range(2, x+1):
    d[i] = d[i-1] + 1
    if i % 2 == 0:
        d[i] = min(d[i], d[ i // 2] + 1)
    if i % 3 == 0;
        d[i] = min(d[i], d[ i // 3] + 1)
    if i % 5 == 0:
        d[i] = min(d[i], d[ i // 5] + 1)
print(d[x])